* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 42px;
  text-align: center;
  line-height: 1.5;
  background-color: #F0F0F0;
  padding-top: 50px;
}

footer {
  background-color: black;
  color: grey;
}

.apps-icones {
  border: solid;
  border-radius: 50%;
  width: 30rem;
  margin: auto;
}