* {
  margin: 0;
  padding: 0;
}
a {  
  text-decoration: none;
  color: #042A2B;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #F2F7F2;
}

header {
  color: #FF7700;
  background-color: #042A2B;
  font-family: 'Oswald', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 0.8em;
}

footer {
  align-self: flex-end;
  margin-top: auto;
  background-color: black;
  color: #F2F7F2;
  width: 100%;
  text-align: center;
  padding: 0.5em;
}

.apps-area {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.apps-icones {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.app-icone {
  min-width: 200px;
  min-height: 200px;
  border-radius: 15%;
  box-shadow: 3px 5px 10px black;
  margin-bottom: 1em;
}

.app-icone:hover {
  box-shadow: -50px 5px 50px rgb(95, 94, 94);
}

.icones {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.2rem;
}

#projetos {
  font-size: 2rem;
  color: #042a2ba3;
}

#ppt-duda {
  background-image: url("midia/ppt-duda.png");  
}
#adventure {
  background-image: url("midia/adventure.png");
}
#preco-cerveja {
  background-image: url("midia/preco-cerveja.png");
}