html {
  font-size: 62.5%;
}

a {  
  text-decoration: none;
  color: #042A2B;
}

p {
  font-size: 2rem;
}

body {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #F2F7F2;
}

header {
  color: #FF7700;
  background-color: #021313;
  font-family: 'Oswald', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
}

footer {
  align-self: flex-end;
  margin-top: auto;
  background-color: #240311;
  color: #F2F7F2;
  width: 100%;
  text-align: center;
  padding: 0.5em;
}

.apps-area {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.apps-icones {
  margin-top: 50px;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  column-gap: 1em;
}


.app-icone img {
  border: solid 0.1em;
  border-radius: 15%;
  box-shadow: 3px 5px 10px black;
  margin-bottom: 0.5em;
}

.icones {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.2rem;
}

#projetos {
  font-size: 3.2rem;
  color: #042a2ba3;
}

#headLeft {
  font-size: 1.9rem;
  line-height: 1.5em;
}

#titulo {
  font-size: 3rem;
}
